# LangChain Core
langchain
langchain-core

# LangChain OpenAI Integration
langchain-openai
openai

# Langchain Anthropic Integration
langchain-anthropic

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# LangChain Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub

# Environment Management
python-dotenv

# Machine Learning and Data Science utilities
numpy
scikit-learn
